<div *ngIf="!cityLoaded">
  <app-loading-spinner></app-loading-spinner>
</div>

<div *ngIf="cityLoaded">
  <app-temp-toggler (unitSelected)="unitSelected($event)"></app-temp-toggler>
  <h1> Forecast in {{cityName}} in the next 12 hours</h1>
  <ul *ngFor="let forecastDetail of forecast">
    <li> {{ forecastDetail.dt_txt | date:'medium' }}
      <p>Temp: {{ forecastDetail.main.temp}}</p>
      <p>Min: {{ forecastDetail.main.temp_min}}</p>
      <p>Max: {{ forecastDetail.main.temp_max}}</p>
      <p>Wind: {{ forecastDetail.wind.deg}} deg, {{forecastDetail.wind.speed}} mp/h</p>
    </li>
  </ul>
</div>
