.toggleAlign {
  float: right;
}

.cardAlign {
  margin-top: 5px;
}

.description {
  margin-bottom: 0;
}

.centerAlign {
  text-align: center;
}

.minWeather {
  color: gray;
}

.maxWeather {
  color: black;
}

a {
  text-decoration: none;
}

.cardFooter {
  padding-bottom: 10px !important;
}
